/*---------RESETS---------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /*-------------CONTAINER/GRID--------------*/
.container{
  max-width: 140rem;
  margin:0 auto;
  padding: 1.5rem;
}

/*-------------HEADER--------------*/
.header{
background: #000000;
position: relative;
}

.header .branding{
    display: flex;
    align-items: center;
}

.header .branding img{
    width:15rem;
    border-right: 1px solid white;
    padding-right: 1rem;
}

.header .branding a{
    color: #ffffff;
    font-size: 2.3rem;
    padding-left: 1rem;
}

.header .branding a:hover{
    text-decoration: underline;
}

.header .header__nav i,
.header .header__nav .toggle__menu{
    display: none;
}

.header .header__nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header .header__nav i{
    color: #FFFFFF;
    transition: .10s ease;
    cursor: pointer;
}

.header .header__nav i:hover{
    color: #FFFFFF;
    transform: scale(1.5);
    transition: .5s ease;
}

.toggle__menu span{
    width: 3rem;
    height: .3rem;
    background-color: #FFFFFF;
    display: block;
    border-radius: 5rem;
    transition: .5s ease;
}

.toggle__menu span:nth-child(2){
    margin: .5rem 0;
}

.header .header__nav ul{
    display: flex;
    gap: 2rem;
}
.header .header__nav ul li a{
    width:18rem;
    text-align: center;
}

.header .header__nav ul.open{
    /* border-top: 1px solid #FFFFFF; */
    max-height: 20rem;
    padding: 3rem 0;
    transition: .5s ease;

}

.toggle__menu.open span:first-child{
    transform: translate(0, 10px) rotate(225deg);
    transition: .5s ease;
  }

  .toggle__menu.open span:last-child{
    transform: translate(0, -6px) rotate(-225deg);
    transition: .5s ease;
  } 

  .toggle__menu.open span:nth-child(2){
    opacity: 0;
    transition: .5s ease;
  } 



@media screen and (max-width:500px){
.header .header__nav i,
.header .header__nav .toggle__menu{
    display: unset;
}

.header .header__nav ul{
    position:absolute;
    background: #000000;
    left:0;
    top: 6.5rem;
    width: 100%;
    display: block;
    /* padding: 3rem 0; */
    max-height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.header .header__nav ul li{
    text-align: center;
}

.header .header__nav ul li a{
    background: none;
    border:none;
    border-radius: 0;
    border:0px !important;
    font-size: 2rem;
    width: fit-content;
}

.header .header__nav ul li:not(:last-child) a{
    border-bottom: 1px solid #ffffff !important;
}

.header .header__nav ul li a:hover{
    transition: .5s ease;
    background: none;
    color: gray;
}

}

/*-------------BANNER--------------*/
.banner{
  background: #dadbf1;
  height: 40rem;
}

.banner .banner__text{
  margin-top: 10rem;
}

.banner .banner__text h1{
  text-align: center;
  font-size: 7rem;
  color: black;
}

.banner .banner__text form{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 0;
}

.banner .banner__text .form #search:focus, .banner .banner__text .form #search:hover{
  border-color:#4C5FD5 !important;
    outline: none;
}

.banner .banner__text .form:hover + .arrow-svg{
  fill:#4C5FD5 !important;
}

.banner .banner__text #search{
  height: 7rem;
  width: 70rem;
  border-radius: .5rem;
  font-size: 2rem;
  padding-left: 2rem;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
  }

.banner .banner__text svg{
  position: absolute;
  top: 33rem;
  left: 106rem;
  font-size: 2rem;
  color: black;
  width: 3.5rem;
}

.banner .btn.help{
  position: fixed;
  margin-top: 28rem;
  margin-left: 132rem;
  float: right;
  border-radius: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #f5f5f5;
  background: #4C5FD5;
  border: 1px solid #4C5FD5;
  padding: .8rem 1.8rem;
  align-items: center;
}

.banner .btn.help i{
  font-size: 2rem;
  margin-right: 1rem;
}

@media screen and (max-width:500px) {
  .banner .banner__text h1{
    text-align: center;
    font-size: 4rem;
    color: black;
  }

  .banner .banner__text #search{
    height: 7rem;
    width: 450px;
    border-radius: .5rem;
    font-size: 2rem;
    padding-left: 2rem;
    }

    .banner .banner__wrapper .banner__text svg{
      position: absolute;
      top: 28rem;
      left: 42rem;
      font-size: 2rem;
    }

    .banner .btn.help{
      position: fixed;
      margin-top: 33.5rem;
      margin-left:34rem;
      float: right;
      border-radius: 5rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: #f5f5f5;
      background: #4C5FD5;
      border: 1px solid #4C5FD5;
      align-items: center;
    }
    
    .banner .btn.help i{
      font-size: 2rem;
      margin-right: 1rem;
    }
}

/*-------------SERVICES--------------*/
.services .services__wrapper{
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  margin: 8rem 12rem 0 12rem; 
}

.services .services__item{
  display: flex;
  margin-bottom: 8rem;
  /* margin-right: 1rem; */
  /* align-items: center; */
  max-width: 45rem;
  gap: 2rem;
}

.services .services__item img{
  width: 8.5rem;
  height: 8.5rem;
}

.services .item__text{
  margin-left: 1.5rem;  
}

.services .item__text h4{
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.services .item__text p{
  margin-bottom: 2rem;
}

.services .item__text a{
color: #4C5FD5;
}
.services .item__text a:hover{
text-decoration: underline;
}

@media screen and (max-width:500px) {
  .services .services__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    max-width: 1600px;
    width: 80% !important;
    margin-top: 10rem;
  }


  .services .services__item img{
    height: 10rem;
  }

  .services .services__item {
    font-size: 2.5rem;
  }
}

/*-------------FOOTER--------------*/
.footer{
  background: #000000;
  color: #fff;
}

.footer .footer__wrapper{
  width: 100%;
}

.footer .footer__top{
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-top: 5rem;
}

.footer .footer__details h4{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer .footer__details a{
  display: flex;
  color: #fff;
}
.footer .footer__details a:hover{
  text-decoration: underline;
}


.footer .footer__contact{
  margin-top: 3rem;
}

.footer .footer__bottom{
  display: absolute;
  justify-content: flex-end;
  align-items: right;
  margin-top: 13rem;
  margin-bottom: 5rem;
}
.footer .footer__logo{
  width: 13rem;
}

@media screen and (max-width: 500px) {
  .footer .footer__top{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer .footer__top{
    gap: 1rem;
    margin-top: 5rem;
  }

  .footer .footer__details{
    margin-top: 3rem;
  }

  .footer .footer__contact{
    margin-top: 3rem;
  }
  .footer .footer__bottom{
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}

/*-------------REPEATABLE PATTERNS--------------*/
.btn{
    display:inline-block;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }

  .btn.violet{
    background: #4C5FD5;
    color: #FFFFFF;
    border: 1px solid #4C5FD5;
  }

  .btn.violet:hover{
    background: #FFFFFF;
    color: #000000;
    border: 1px solid transparent;
  }
  .btn.help{
    background: #4C5FD5;
    color: #FFFFFF;
    border: 1px solid #4C5FD5;
  }

  .btn.help:hover{
    background: #FFFFFF;
    color: #000000;
    border: 1px solid transparent;
  }
    
  .btn.dark{
    background: #2b2b2b;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }

  .btn.dark:hover{
    color: #000000;
    background: #FFFFFF;
  }

  .centerAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }